<configuration>
    <appender name="STDOUT" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:24224</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "tags": ["bicyclestore"],
                        "project": "bicyclestore-user-service",
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSZ\"}",
                        "log_level": "%level",
                        "thread": "%thread",
                        "class_name": "%class",
                        "line_number": "%line",
                        "log": "%message",
                        "stack_trace": "%exception",
                        "username": "%X{user_name}",
                        "uuid": "%X{uuid}",
                        "app_version": "%X{app_version}",
                        "session_id": "%X{session_id}",
                        "module_name": "%X{module_name}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="stash" />-->
    </root>
</configuration>
