<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE_NAME" value="${log.file.name:-bicyclestore_user_service}" />
    <property name="LOG_DIRECTORY" value="${log.dir:-log}" />
    <property name="LOG_LEVEL" value="${log.level:-INFO}" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[U][%d][%-5p][%t][%c{0}][%M] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="jsonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/${LOG_FILE_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "tags": ["bicyclestore", "bicyclestore-user"],
                        "project": "bicyclestore-user-service",
                        "timestamp": "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSZ\"}",
                        "log_level": "%level",
                        "thread": "%thread",
                        "class_name": "%class",
                        "line_number": "%line",
                        "log": "%message",
                        "stack_trace": "%exception"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIRECTORY}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>8GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="jsonLogger" additivity="false" level="DEBUG">
        <appender-ref ref="jsonAppender"/>
    </logger>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="jsonAppender"/>
    </root>
</configuration>